.app-header{
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}
.app-header img{
  height: 50px;
}
.app-header > .app-name{
  font-size: 30px;
  margin: 0 20px;
}

.chat-system{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-box{
  width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}